.about-hero {
  height: 100vh;
  overflow: hidden;

  .about-bg {
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
    }

    &:after {
      position: absolute;
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(.jpg);
      opacity: 0.5;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  h1 {
    font-weight: 400;
    font-size: 90px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 50px;
  }

  &_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      text-align: center;

      a {
        opacity: 0.5;
      }

      a:hover {
        opacity: 1;
        transition: all .3s;
      }

      span {
        margin: 0 24px;
      }

      span, a {
        font-weight: 300;
        font-size: 12px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

      }
    }
  }

}

