.about {
  padding-top: 130px;
  min-height: 900px;

  span:first-child {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: $color-orange;
  }

  h1 {
    margin:65px 0;
    width: 60%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.08em;

    span {
      font-size: 90px !important;
    }
  }
  p {
    max-width: 480px;
    width: 100%;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
  }
  .circle-item {
    position: absolute;
    right: 150px;
    bottom: -5px;
  }
}