.about {
  padding-top: 130px;
  min-height: 900px;
  padding-bottom: 160px;
  overflow: hidden;

  @include tablet {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  @include mobile{
    padding-bottom: 60px;
    min-height: 780px;
  }

  span:first-child {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: $color-orange;
  }

  h1 {
    margin: 65px 0;
    width: 60%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.08em;
    color: #000;
    background: #fff;
    mix-blend-mode: lighten;

    span {
      font-size: 90px !important;
    }
  }

  p {
    max-width: 480px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;

    @include mobile {
      font-size: 12px;
    }
  }

  .circle-item {
    position: absolute;
    right: 150px;
    bottom: -5px;

    @include tablet {
      right: 0;
    }
  }

}

.block-bg-img {
  background: url(../img/about-text-photo.jpg), no-repeat;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  padding-top: 20px;
  margin: 65px 0;
  max-width: 826px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 90px;
  line-height: 100%;
  letter-spacing: -0.08em;
  mix-blend-mode: lighten;
  height: 100%;
  background-size: 200% 200%;


  @include tablet {
    font-size: 50px;
    margin-bottom: 30px;
  }
  @include mobile {
    font-size: 32px;
  }
}

.about .flex-center.about-flex {
  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .circle-item {
    position: relative;
    right: 0;
  }

  p {}
}