.blog {
  height: 100vh;
  padding-top: 390px;

  @include tablet {
    min-height: 600px;
    padding-top: 200px;
  }

  &-top {
    max-width: 600px;
    width: 100%;

  }

  h1 {
    font-weight: 400;
    font-size: 128px;
    line-height: 92%;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &-top-inner {
    margin-top: 60px;
  }

  .blog-card__top {
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .category {
    opacity: 0.5;
  }

  &-card-title p {
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: -0.08em;
    color: #FFFFFF;
    transition: all .3s;
    max-width: 660px;
    width: 100%;
    margin-top: 32px;

    @include media-max(900) {
      font-size: 24px;
    }
  }

  &-card-item {
    &:hover {
      .blog-card__img img{
        transform: scale(1.25);
      }

      .blog-card-content:before {
        width: 100%;
      }
    }

    &:nth-child(2n) {
      .blog-card-content:before {
        right: auto;
        left: 0;
      }
    }
  }

  &-card-item {
    &:hover {
      .blog-card-title p {
        color: #f7941d;
        transition: all .3s;
      }
    }

    &:nth-child(even) .blog-card-item__wrap{
      flex-direction: row-reverse;

      @include mobile {
        flex-direction: column;
      }
    }
    &:nth-child(even) .blog-card-content{
      margin-left: 0;
      margin-right: 50px;

      @include mobile {
        margin-right: 0;
      }
    }

    &__wrap {
      display: flex;

      @include mobile {
        align-items: center;
        flex-direction: column;
        margin-bottom: 70px;
      }
    }


  }
}

.blog-cards-wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 100px;
}

.blog-card-item {
  grid-column: span 12;
}

.blog-card__img {
  overflow: hidden;
  max-width: 555px;
  width: 100%;
  height: 414px;

  @include mobile {
    height: 380px;
  }
  @include media-max(500) {
    height: 250px;
  }

  img {
    width: 100%;
    height: 100%;
    transition: transform 750ms cubic-bezier(0.61, 1, 0.88, 1) 0s;
  }
}

.blog-card-content {
  position: relative;
  margin-left: 50px;
  width: 100%;
  border-top: 1px solid rgba(255,255,255,.2);
  padding-top: 50px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 0;
    height: 1px;
    background-color: #f7941d;
    transition: width .35s ease-out;
  }

  @include mobile {
    border-top: none;
  }
}
.blog-card__top {
  span {
    margin-right: 25px;
    color: #fff;

    @include media-max(900){
      font-size: 12px;
    }

  }
}
.category {
  opacity: 0.5;
}