.hero {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  //background-image: url("../img/main-bg.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  &-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .sound {
    display: flex;
    justify-content: flex-end;
    z-index: 10000;
  }

  .scroll {
    @include flex-all-center;
  }

  &-video {
    position: absolute !important;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100% !important;
    max-width: none;
    width: 100%;

    .player {
      max-width: none;
      width: 100%;
      height: 100vh;

      &_video {
        height: 100%;
        object-fit: fill;
      }

      &:hover .player_controls {
        transform: none;
      }
    }

    .player_controls {
      position: absolute;
      justify-content: space-between;
      background: none;
      bottom: -110px;
      display: none !important;
    }

    .left-controls {
      & .width {
        width: 33.333%;
      }
    }
  }


  &__scroll-inner {
    position: relative;
    @include flex-h-center;
    width: 80px;
    height: 80px;

    svg {
      width: 80px;
      height: 80px;
      position: relative;
      transform: rotate(270deg);
    }

    svg circle {
      width: 80px;
      height: 80px;
      fill: none;
      stroke-width: 1;
      stroke: rgba(255, 255, 255, 0.2);
      stroke-dasharray: 240;
      stroke-dashoffset: 240;

      &:nth-child(1) {
        stroke-dashoffset: 0;
        stroke: rgba(255, 255, 255, 0.2);
      }

      &:nth-child(2) {
        stroke-dashoffset: calc(240 - (240 * 0) / 100);
        stroke: rgba(255, 255, 255, 1);
      }
    }
  }

  &__scroll-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex-all-center;
    font-size: 12px;
  }
}

.sound, .hero__scroll, .cookies {
 position: absolute;
}
.cookies {
  bottom: 50px;
  left: 40px;

  @include media-max(1024) {
    bottom: 20px;
    left: 20px;
  }
}
.sound {
  right: 50px;
  bottom: 30px;

  @include media-max(1024) {
    bottom: 150px;
  }
}
.hero__scroll {
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  width: max-content;

  @include media-max(1024) {
    bottom: 130px;
  }
}

.container-bottom-a {
  position: absolute;
  width: 100%;
  bottom: 0px;
  max-width: none;
  height: 100px !important;
  display: block !important;
  z-index: 4;
}

.right-video {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container.container-bottom-a {
  position: absolute;

 & .sound svg {
    cursor: pointer;

  }
  & .scroll-top  {
    display: none !important;
  }
}

