.info {
  overflow: hidden;

  &-items {
    height: 800px;
    width: 100%;
    display: flex;

    @include media-max(1300) {
      height: 600px;
    }

    @include tablet {
      height: 450px;
    }
    @include mobile {
      flex-wrap: wrap;
      height: 900px;
    }
  }
  &-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-item {
    position: relative;
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile {
      width: 50%;
      height: 450px;
    }


    div, p, a {
      transition: all .3s;
    }

    div {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translate(-50%, 0px);
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 100%;
      text-align: center;
      letter-spacing: -0.08em;
    }

    button {
      display: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      text-transform: uppercase;
      color: #FFFFFF;
      margin: 0px 5px;
      align-items: center;


      svg {
        margin-left: 3px;
      }
    }
  }

  &-item:hover {
    &::after {
      position: absolute;
      content: '';
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(.jpg);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .content {
      width: max-content;
      left: 20px;
      top: 50px;
      transition: all .3s;
      transform: translate(0%, 0);
      z-index: 2;

      @include mobile {
        left: 10px;
      }
    }

    p {
      font-weight: 400;
      font-size: 38px;
      line-height: 100%;

      @include mobile {
    font-size: 22px;
      }
    }

    button {
      display: flex;
      margin-left: 0;
      margin-top: 15px;
    }
  }
}
.info-item:hover{
  overflow: hidden;
}
.info-item:hover .info-item-bg {
  transition: all .5s;
  transform: scale(1.15);
  top: 0;
  left: 0;
  width: 100%;
}