.main-text {
  height: 800px;
  background: #000;

  .container {
    @include flex-all-center;
    height: 100%;
  }

  p {
    font-weight: 300;
    font-size: 38px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.08em;
    max-width: 690px;
  }
}