.main-text {
  height: 800px;
  background: #000;

  .container {
    @include flex-all-center;
    height: 100%;
    flex-direction: column;
  }

  p {
    font-weight: 300;
    font-size: 38px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.08em;
    max-width: 690px;

    @include tablet {
      font-size: 24px;
    }
  }
}