.single-img {
  overflow: hidden;
  padding-bottom: 250px;
  position: relative;

  &__container {
    display: flex;
    flex-direction: row-reverse;
  }

.view-link {
  display: flex !important;
}
  &-wrap {
    position: relative;
    width: max-content;

    &:hover {
      .view-link {
        display: flex;
        transition: all .5s;
      }
    }
     img {
       @include mobile {
         height: 400px;
         object-fit: cover;
       }
    }
  }

  .scroll-text {
    &:first-child {
      top: 130px;
      //right: -240%;
    }


    &:nth-child(2) {
      top: 300px;
      //left: -290%;
    }
  }
}

.scroll-text {
  display: inline-block;
  position: absolute;
  font-weight: 600;
  font-size: 180px;
  line-height: 100%;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #121212;
  white-space: nowrap;
}

.scroll-text-hide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  width: 50%;
  height: 100%;
}