.video {
  padding-bottom: 128px;

  &-bg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
  }

  &__popup {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      width: 60px;
      height: 60px;
    }
  }

  &__play-item svg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 12px;
    width: 12%;
  }

}


.video-block {
  padding-bottom: 120px;

  iframe {
    width: 100%;
    height: 680px;
  }
}



/* IOS Bug dont Use this code */
.hidden {
  display: none !important;
}
.wrapper {
  max-width: 560px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.upload {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.video-box {
  position: relative;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  max-width: 1360px;
  position: relative;
  font-size: 0;
  overflow: hidden;
  width: 100%;
}
.player_video {
  width: 100%;
  cursor: none !important;
}
.fa {
  color: white;
  font-size: 1rem;
}

.fa-play:hover,
.fa-pause:hover,
.fa-stop:hover,
.fa-volume-up:hover,
.fa-fast-backward:hover,
.fa-fast-forward:hover {

  cursor: none !important;
}

.player_button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
  font-size: 1rem;
}

.player_slider {
  width: 0.75rem;
  height: 3rem;
}
.player_controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateX(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 1.5rem;
}
.player:hover .player_controls {
  transform: translateY(0);
}

.player:hover .progress-range {
  height: 0.75rem;
}

.right-controls {
  display: flex;
  justify-content: flex-end;
}
.left-controls {
  display: flex;
  justify-content: flex-start;
}

.player_controls > * {
  flex: 1;
}
.progress-range {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 1.5em;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.progress-bar {
  background: dodgerblue;
  width: 50%;
  height: 100%;
  border-radius: 1.5em;
  transition: all 250ms ease;
}

.player:fullscreen {
  max-width: none;
  width: 100%;
}
.player:-webkit-full-screen {
  /*CHROME*/
  max-width: none;
  width: 100%;
}
.player:-moz-full-screen {
  /*FIREFOX*/
  max-width: none;
  width: 100%;
}

.time {
  text-align: right;
  position: relative;
  top: 0.85em;
  padding-left: 0.5em;
  margin-right: 1em;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  /* user-select: none; */
}

.time-elapsed,
.fa-fast-forward {
  padding-left: 0.75em;
}

/**/
/*css to style input type="range"*/
input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  width: 40%;
  margin: 0 20px;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type='range']::-webkit-slider-thumb {
  height: 0.75em;
  width: 1em;
  border-radius: 0.25em;
  background: dodgerblue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
  box-shadow: 0 0 2px rgb(15, 14, 80);
}

input[type='range']::-moz-range-track {
  /*?*/
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type='range']::-moz-range-thumb {
  /*?*/
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 12px;
  width: 17px;
  border-radius: 50px;
  /* background: #ffc600; */
  background: blue;
  cursor: pointer;
}

@media (max-width: 827px) {
  .fa {
    color: white;
    font-size: 0.9rem;
  }
  button + button {
    margin-left: 0;
  }
  .time {
    padding-left: 0;
    margin-right: 0.5em;
  }

  .time-elapsed,
  .fa-fast-forward {
    padding-left: 0.75em;
  }
  .player {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .player {
    width: 95%;
  }
}
.wrap-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  .circle-text {
    position: relative;
    width: 170px;

    @include mobile {
      width: 120px !important;
    }
  }
}
div.fa-pause {
  opacity: 0;
}

video.player_video.viewer {
  object-fit: cover;
}
.video-main {
  width: 100%;
  height: 100%;
  video {
    width: 100%;
    height: 100%;
  }
}

.video-main {
  position: relative;
  width: 100%;

  &:before {

  }
}
.speaker-video__main {
  cursor: pointer;
}

.video-hero__bg {
  position: absolute;
  content: '';
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
