.works{
	position: relative;
	padding-top: 141px;
	overflow: hidden;
	&__slider{
		
	}
	&__title{
		font-weight: 600;
		font-size: 180px;
		line-height: 100%;
		letter-spacing: -0.08em;
		text-transform: uppercase;
		color: #121212;
		position: absolute;
		top: 0;
		right: -140px;
	}
	&__title-border{
		right: auto;
		left: 112px;
		top: 210px;
	}
	&__title-border{
		top: 150px;
	}
	.slick-slide{
		padding: 0 60px;
	}
	.slick-track{
		display: flex;
		align-items: center;
	}
}