.about-descr{
	padding-bottom: 128px;
	&__inner{
		display: flex;
		flex-direction: column;
		max-width: 740px;
		margin: 0 auto;
		p{
			font-family: 'Manrope', sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 180%;
			color: #FFFFFF;
			&:not(:last-child){
				margin-bottom: 40px;
			}
		}
	}
	&__title{
		font-weight: 500;
		font-size: 68px;
		line-height: 100%;
		letter-spacing: -0.08em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 48px;
	}
}