.choice{
	height: 100vh;
	position: relative;
	overflow: hidden;
	&::before{
		position: absolute;
		// content: '';
		background-image: url(../img/choice-light.png);
		width: 100%;
		height: 423px;
		top: 0;
		background-repeat: no-repeat;
		right: -750px;
	}
	&__inner{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100vh;
		padding-bottom: 96px;
	}
	&__title{
		font-weight: 400;
		font-size: 128px;
		line-height: 92%;
		letter-spacing: -0.08em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 24px;
		@include media-max(1200) {
			font-size: 100px;
		}
		@include media-max(768) {
			font-size: 80px;
		}
		@include media-max(550) {
			font-size: 64px;
		  }
	}
	&__descr{
		font-weight: 300;
		max-width: 600px;
		margin-bottom: 64px;
		@include media-max(1200) {
			font-size: 15px;
			max-width: 500px;
		}
		@include media-max(768) {
			font-size: 12px;
			max-width: 300px;
			margin-bottom: 26px;
		}
	}
	&__buttons{
		display: flex;
		align-items: center;
		column-gap: 16px;
		flex-wrap: wrap;
		@include media-max(1024) {
			row-gap: 12px;
		}
	}
	&__btn{
		padding: 0 48px;
		background: transparent;
		height: 78px;
		border: 1px solid #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50px;
		font-weight: 400;
		font-size: 12px;
		line-height: 120%;
		color: #FFFFFF;
		text-transform: uppercase;
		transition: all .3s;
		&:hover{
			border: 1px solid #F7941D;
			transition: all .3s;
		}
		@include media-max(768) {
			height: 57px;
		}
	}
	.color-flex{
		background: #F7941D;
		border: 1px solid #F7941D;
		transition: all .3s;
	}

}