.stats{
	overflow: hidden;
	&__items{
		gap: 20px;
	}
	&__link{
		display: flex;
		align-items: center;
		padding: 100px 0;
		max-width: 1360px;
		width: 100%;
		margin: 0 auto;
		span{
			font-weight: 400;
			font-size: 16px;
			line-height: 92%;
			text-transform: uppercase;
			color: #FFFFFF;
			padding-left: 210px;
		}
	}
	&__row{
		display: flex;
		align-items: center;
		column-gap: 20px;
		justify-content: center;
		row-gap: 50px;
		&:nth-child(1){
			.stats__item:nth-child(2){
				order: -1;
			}
			.stats__item:nth-child(3){
				order: 1;
			}
		}
		@include media-max(1024) {
			flex-wrap: wrap;
		}
		&:nth-child(2){
			margin-top: 20px;
			@include media-max(600) {
				margin-top: 50px;
			}
			.stats__item-text{
				bottom: auto;
				top: 20px;
				@include media-max(600) {
					top: auto;
					bottom: 20px;
				}
			}
		}
	}
	&__text-decor{
		font-weight: 600;
		font-size: 180px;
		line-height: 100%;
		letter-spacing: -0.08em;
		text-transform: uppercase;
		color: #121212;
	}
	&__item{
		max-width: 325px;
		width: 100%;
		text-align: center;
		position: relative;
		height: 325px;
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-max(600) {
			display: block;
			height: 170px;
		}
		img{
			object-fit: cover;
			height: 325px;
			background-position: center center;
			@include media-max(600) {
				height: 170px;
				width: 100%;
				display: block;
			}
		}
	}
	&__item-number{
		font-weight: 400;
		font-size: 68px;
		line-height: 92%;
		letter-spacing: -0.08em;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	&__item-text{
		font-weight: 400;
		font-size: 16px;
		line-height: 92%;
		text-transform: uppercase;
		color: #FFFFFF;
		opacity: 0.2;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		white-space: nowrap;
	}
	&__banner{
		display: flex;
		&::before{
			display: none;
		}

	}
	&__text{
		position: relative;
		left: -184px;
	}
	&__text-border{
		left: auto;
		right: -181px;
	}
}