@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move {

  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-3000px);
  }
}
@keyframes move-line {

  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1000px);
  }
}

.scroll-text {
  animation: 8s move;
  animation-iteration-count: infinite;
}
.circle-item-inf{
  animation: infinite rotate linear 6s;
}
.bg-blur {
  animation: 5s move-line;
  animation-iteration-count: infinite;
}