@keyframes top-bottom {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes top-bottom2 {
  from {
    transform: translateY(0);
  }
  20% {
    transform: translateY(10%);
  }
  50%{
    transform: translateY(-30%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes bottom-top {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes move-line {
	from {
	  transform: translateX(0);
	}
	50% {
	  transform:translateX(700px)
	}
	to {
	  transform: translateX(0);
	}
}


.scroll-text {
  animation: 8s move;
  animation-iteration-count: infinite;
}
.circle-item-inf{
  animation: infinite rotate linear 6s;
}
.bg-blur {
  animation: 6s move-line;
  animation-iteration-count: infinite;
}