:root {
  --orange: #F7941D;
}

.dropdown-menu.flex {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.dropdown-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-top: 250px;

  ul {
    width: 100%;
    margin-bottom: 60px;

    li {
      margin-bottom: 24px;

      a {
        font-weight: 500;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        color: #FFFFFF;

        &:hover {
          -webkit-text-stroke: 1px var(--orange);
          -webkit-text-fill-color: #000;
          transition: all .3s;

        }
      }
    }
  }
}

.dropdown-menu {
  display: none;
}

.dropdown-menu_bottom {
  width: 90%;

  .container {
    border: none !important;
  }
}

.bg-blur {
  background: #f7941d;
  filter: blur(300px);
  position: absolute;
  opacity: 1;
  top: -110px;
  width: 320px;
  height: 300px;
  right: 480px;
}

.dropdown-menu_top {
  position: relative;
  width: 100%;
  padding: 0 40px;

  .contact-us {
    position: absolute;
    left: 40px;
    bottom: 60px;
    text-align: left;
    span {
      font-weight: 300;
      font-size: 12px;
      line-height: 120%;
      text-transform: uppercase;
      opacity: 0.5;
      margin-bottom: 8px;
    }

    p {
      font-weight: 300;
      font-size: 21px;
      line-height: 120%;
      letter-spacing: -0.08em;
    }
  }
}