.box {
  display: flex;
  flex-direction: column;
}

.box .select-wrapper {
  display: block;
}

.box p.holder {
  font-family: "Resolve Sans",sans-serif;
  font-weight: 400;
  position: relative;
  min-width: 104px;
  width: 100%;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.08em;
  color: #FFFFFF;
  height: 32px;

  &:after {
    position: absolute;
    content: '';
    background-image: url("../img/arrow-bot.svg");
    width: 8px;
    height: 5px;
    background-repeat: no-repeat;
    top: 4px;
    right: 0;
  }

}

.box .select-wrapper {
  display: block;
  width: 100%;
}

.box .dropholder {
  width: 100%;
  border-radius: 10px;
  color: #fff;
  position: relative;
}

.box .holder {
  line-height: 60px;
  font-size: 16px;
  margin: 0;
}

.box .dropdown,
.box .dropholder {
  background: transparent;
}

.box .dropdown {
  float: left;
  width: 100%;
  border-radius: 10px;
  font: 16px arial;
  cursor: pointer;
  height: 60px;
  position: relative;
  box-sizing: border-box;
  z-index: 20;
}

.box .dropdown.active + .dropdownOption {
  display: block;
}

.box .dropdownOption {
  width: 100%;
  text-align: left;
  padding: 10px 0 0 0;
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  margin: 0;
  cursor: pointer;
  display: none;
  background: #000;
  border-radius: 0 0 10px 10px;
  z-index: 5;
  overflow: hidden;
}

.box .dropdownOption li {
  position: relative;
  padding: 10px 0;
  color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}


@media (max-width: 1024px) {
  .header {
    padding-bottom: 10px;
  }

  .header .container {
    padding-left: 5px;
  }
}

.blog .box {
  display: flex;
  width: 100%;
  height: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  margin-left: 40px;
}
.dropdown.active .holder:after {
  transform: rotate(180deg);
  transition: all .3s;
}