.follow_us {
  padding-bottom: 300px;

  @include tablet {
    padding-bottom: 200px;
  }
  @include mobile {
    padding-bottom: 100px;
  }
  svg {
    width: 64px;
    height: 64px;
  }

  p {
    font-weight: 300;
    font-size: 38px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 60px;
  }
}
