.line-scroll {
  height: 26vh;
  margin-top: 10vh;
  width: 1px;
  background: rgba(255,255,255,.2);

  @include tablet {
    margin-top: 80px;
  }

  &--wrap {
    height: 100%;
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  &--el {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}