.scroll {

  .scroll-container {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    @include flex-all-center;
  }


  span {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    opacity: 1;
  }
}