.text-block {
  position: relative;
  padding-top: 120px;
  padding-bottom: 250px;
  overflow: hidden;

  @include tablet {
    padding-top: 200px;
    padding-bottom: 200px;
  }


  p {
    font-weight: 600;
    font-size: 180px;
    line-height: 100%;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #121212;

    @include tablet {
      font-size: 96px;
    }

    &:last-child {
      -webkit-text-stroke: 2px var(--orange);
      -webkit-text-fill-color: #000;
    }
  }

  .bg-blur {
    top: -100px;
    @include tablet {
      top: -200px;
    }
  }
}